<nav class="navbar is-light" role="navigation" id="navbar" aria-label="main navigation">
  <div class="container">
  <div class="navbar-brand">

    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  </div>
</nav>
